CEU.low_coverage.2010_09.genotypes.vcf.gz
CEU.low_coverage.2010_09.genotypes.vcf.gz.tbi
CHBJPT.low_coverage.2010_09.genotypes.vcf.gz
CHBJPT.low_coverage.2010_09.genotypes.vcf.gz.tbi
YRI.low_coverage.2010_09.genotypes.vcf.gz
YRI.low_coverage.2010_09.genotypes.vcf.gz.tbi

